<mat-toolbar>
  <span class="spacer"></span>
  <button mat-flat-button id="navbtn" [routerLink]="''">Inicio</button>
  <button mat-flat-button id="navbtn" [routerLink]="'education'">Educación</button>
  <button mat-flat-button id="navbtn" [routerLink]="'experience'">Experiencia</button>
  <button mat-flat-button id="navbtn" [routerLink]="'skills'">Habilidades</button>
  <button mat-flat-button id="navbtn" [routerLink]="'aboatme'">Sobre mí</button>
  <button mat-flat-button id="navbtn" [routerLink]="'admin'">Admin</button>
</mat-toolbar>
