<mat-toolbar>
  <span class="spacer"></span>
  <button mat-flat-button id="navbtn" > <a href="#inicio">Inicio</a></button>
  <button mat-flat-button id="navbtn" ><a href="#education">Educación</a></button>
  <button mat-flat-button id="navbtn" ><a href="#experience">Experiencia</a></button>
  <button mat-flat-button id="navbtn" ><a href="#skills">Habilidades</a></button>
  <button mat-flat-button id="navbtn" ><a href="#aboatme">Sobre mí</a></button>
  <button mat-flat-button id="navbtn" routerLink="login">Iniciar Sesión</button>
</mat-toolbar>
