.view{
  padding-top: 5%;
}

.main{
  background-color:#000000;
}

#texto{
  background-color: #000000;
  color: #ffffff;
  line-height: normal;
  margin-left: 5%;
  width: 90%;
}

.row{
  display:inline-flex;
  color: #ffffff;
  background-color: #000000;
}

.cuadrante{
  width: 35rem;
  height: 18rem;
  color: #ffffff;
  background-color: #000000;
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: #1976D2;
}

::ng-deep .mat-progress-bar-buffer {
  background: #97c3ef;
}

::ng-deep .mat-progress-bar {
  border-radius: 2px;
}

mat-progress-bar{
  height: 5%;
}
