<div class="view">
  <mat-card class="main">
    <mat-card id="texto">
      <h3 style="font-size: 1.9rem; font-weight: 500;">Mis habilidades</h3>
     <div class="row">
      <mat-card class="cuadrante">
        <mat-card-title>Habilidades técnicas</mat-card-title>
        <mat-card-title>Frameworks</mat-card-title>
        <h3>Angular</h3>
        <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
        <h3>Django</h3>
        <mat-progress-bar mode="determinate" value="75"></mat-progress-bar>
      </mat-card>
      <mat-card class="cuadrante">
        <mat-card-title>Otras habilidades</mat-card-title>
        <mat-card-title>Habilidades suaves</mat-card-title>
        <h3>Trabajo en equipo</h3>
        <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
        <h3>Autodidacta</h3>
        <mat-progress-bar mode="determinate" value="85"></mat-progress-bar>
        <h3>Planificación/Organización</h3>
        <mat-progress-bar mode="determinate" value="68"></mat-progress-bar>
        <h3>Dirección</h3>
        <mat-progress-bar mode="determinate" value="72"></mat-progress-bar>
        </mat-card>
     </div>
     <br>
     <div class="row">
      <mat-card class="cuadrante">
        <mat-card-title>Lenguajes de programación</mat-card-title>
        <h3>Python</h3>
        <mat-progress-bar mode="determinate" value="75"></mat-progress-bar>
        <h3>TypeScript</h3>
        <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>
        <h3>Java</h3>
        <mat-progress-bar mode="determinate" value="45"></mat-progress-bar>
        <h3>.NET/Visual Basic</h3>
        <mat-progress-bar mode="determinate" value="5"></mat-progress-bar>
      </mat-card>
      <mat-card class="cuadrante">
        <mat-card-title>Idiomas</mat-card-title>
        <h3>Español</h3>
        <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
        <h3>Inglés</h3>
        <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
        <h3>Francés</h3>
        <mat-progress-bar mode="determinate" value="25"></mat-progress-bar>
      </mat-card>
     </div>
    </mat-card>
  </mat-card>
</div>
