<div  class="view" id="aboatme">
  <mat-card class="main">
    <mat-card id="texto">
      <h3 style="font-size: 1.9rem; font-weight: 500;">Acerca de mi</h3>
     <div class="row">
      <mat-card class="cuadrante">
        <p>Estudiante de Gestión y Desarrollo de Software, con un gran interés en Desarrollo Web Back End.
           Con capacidad para aprender y aplicar mis conocimientos al ámbito profesional.
          En busca de una oportunidad laboral en la que pueda adaptar, desarrollar o mejorar mis habilidades adquiridas durante mi tiempo de estudio.</p>
      </mat-card>
      <mat-card class="cuadrante">
        <mat-card class="media">
          <img id="icon" src="../../../../assets/phone-call.png" alt="">
          <p>+52 984 210 9748</p>
        </mat-card>
        <mat-card class="media">
          <img id="icon" src="../../../../assets/email.png" alt="">
          <p>maruudevchan@gmail.com</p>
        </mat-card>
        <mat-card class="media">
          <img id="icon" src="../../../../assets/telegrama.png" alt="">
          <p>@luxuurr</p>
        </mat-card>
        <mat-card class="media">
          <img id="icon" src="../../../../assets/facebook.png" alt="">
          <p>@luxuurr</p>
        </mat-card>
        <mat-card class="media">
          <img id="icon" src="../../../../assets/location.png" alt="">
          <p>Playa del Carmen, Quintana Roo</p>
        </mat-card>
      </mat-card>
     </div>
    </mat-card>
  </mat-card>
</div>
