<div class="view">
  <mat-card class="main">
    <img id="pic" src="../../../../assets/IMG_20220315_041655.jpg" alt="Hi">
    <mat-card id="texto">
      <h1 style="font-size: 3rem; font-weight: 600; ">Gloria Espinoza</h1>
      <h3 style="font-size: 2rem; font-weight: 500;  font-style: italic; margin-left: 15%;">Estudiante de TICS</h3>
      <div class="cita">
        <p style="font-size: 1.5rem;"><q>Cualquiera puede programar, pero no cualquiera puede desarrollar.</q></p>
        <p style="margin-left: 25%; font-style: italic; font-weight: 800; font-size: large;">-Anónimo</p>
      </div>
    </mat-card>
  </mat-card>
</div>

<!-- <div class="view">
  <mat-card class="prueba">
    <img id="pic" src="../../../../assets/IMG_20220315_041655.jpg" alt="Hi">
    <div id="text">
      <mat-card-title id="name">Gloria Espinoza</mat-card-title>
      <mat-card-subtitle id="cargo" style="margin-left: 15%;">Estudiante de TICS</mat-card-subtitle>
      <p id="frase"><q>Cualquiera puede programar, pero no cualquiera puede desarrollar.</q></p>
    <p align="end">-Anónimo</p>
    </div>
  </mat-card>
</div> -->
