.view{
  padding-top: 5%;
}

.main{
  margin: 5%;
  width: 80%;
  margin-left: 15%;
  background-color:#000000;
}

#pic{
  width: 30%;
}

#texto{
  background-color: #000000;
  color: #ffffff;
  padding: 3%;
  display: inline;
  position: absolute;
  line-height: normal;
  width: 55%;
  margin-left: 2%;
}

* {
  box-sizing: border-box;
}
