.view{
  padding-top: 5%;
}

.main{
  background-color:#000000;
}

#texto{
  background-color: #000000;
  color: #ffffff;
  line-height: normal;
}

.row{
  display:inline-flex;
  color: #ffffff;
  background-color: #000000;
}

#pic{
  padding: 5%;
  width: 20%;
}

#info, .prepa, .universidad{
  background-color: #000000;
  color: #ffffff;
}

