<div class="view">
  <mat-card class="main">
    <mat-card id="texto">
      <h3 style="font-size: 2rem; font-weight: 500;">Mi educación</h3>
      <mat-card class="prepa">
       <div class="row">
        <img id="pic" src="../../../../assets/Cecyte.png" alt="highschool">
        <mat-card id="info">
          <mat-card-title>Colegio de Estudios Científicos y Tecnológicos del Estado</mat-card-title>
        </mat-card>
       </div>
      </mat-card>
      <mat-card class="universidad">
        <div class="row">
         <img id="pic" src="../../../../assets/utrm.png" alt="university">
         <mat-card id="info">
           <mat-card-title>Universidad Tecnológica de la Riviera Maya | BIS Universities<br> </mat-card-title>
         </mat-card>
        </div>
       </mat-card>
    </mat-card>
  </mat-card>
</div>
