<div class="view">
  <mat-card class="main">
    <mat-card id="texto">
      <h3 style="font-size: 1.9rem; font-weight: 500;">Mi experiencia</h3>
      <mat-card class="job">
       <div class="row">
        <img id="pic" src="../../../../assets/GUSA-Logo.png" alt="GUSACAP">
        <mat-card id="info">
          <mat-card-title>GUSA CAPITAL <i>(2019-2022)</i></mat-card-title>
          <mat-card-content>
            <p style="font-size: 1rem;">Asistente de oficina</p><br>
            <p>Análisis de código .NET, documentar sistemas.</p>
          </mat-card-content>
        </mat-card>
       </div>
      </mat-card>
      <mat-card class="job">
        <div class="row">
         <img id="pic" src="../../../../assets/reef.svg" alt="THE REEF">
         <mat-card id="info">
           <mat-card-title>THE REEF RESORTS & SPA [Estadías Profesionales] <i>(2021)</i></mat-card-title>
           <mat-card-content>
            <p style="font-size: 1rem;">Desarrollador Back End para un sistema interno para el colaborador. <br>Tecnologías usadas: Angular, Django</p><br>
          </mat-card-content>
         </mat-card>
        </div>
       </mat-card>
       <mat-card class="job">
         <div class="row">
          <img id="tercero" src="../../../../assets/KIRA-FULL.png" alt="THE REEF">
          <mat-card id="info">
            <mat-card-title>Kira Iris San [Freelance] <i>(Elecciones 2022)</i></mat-card-title>
            <mat-card-content>
              <p style="font-size: 1rem;">Elaboración de PREP para verificación de datos con el Instituto Nacional Electoral.</p><br>
            </mat-card-content>
          </mat-card>
         </div>
        </mat-card>
    </mat-card>
  </mat-card>
</div>





















<!-- <div class="view">
  <mat-card class="main">
    <mat-card id="texto">
      <h3 style="font-size: 1.9rem; font-weight: 500;">Mi educación</h3>
      <mat-card class="job">
       <div class="row">
        <img id="pic" src="../../../../assets/descarga.jpg" alt="GUSACAP">
        <mat-card id="info">
          <mat-card-title>GUSA CAPITAL<i>(2019-2020)</i></mat-card-title>
          <mat-card-content>
            <p style="font-size: 1rem;">Asistente de oficina</p><br>
            <p>Análisis de código .NET, documentar sistemas.</p>
          </mat-card-content>
        </mat-card>
       </div>
      </mat-card>
      <mat-card class="job">
        <div class="row">
         <img id="pic" src="../../../../assets/reef.svg" alt="THE REEF">
         <mat-card id="info">
           <mat-card-title>THE REEF RESORTS & SPA<i>(2021)</i></mat-card-title>
           <mat-card-content>
            <p style="font-size: 1rem;">Desarrollador Back End para un sistema interno para el colaborador. <br>Tecnologías usadas: Angular, Django</p><br>
          </mat-card-content>
         </mat-card>
        </div>
       </mat-card>
       <mat-card class="job">
        <div class="row">
         <img id="pic" src="../../../../assets/KIRA-FULL.png" alt="Kira Iris">
         <mat-card id="info">
           <mat-card-title>PREP elecciones Distrito 10<i>(2022)</i></mat-card-title>
           <mat-card-content>
            <p style="font-size: 1rem;">Elaboración de PREP para verificación de datos con el Instituto Nacional Electoral.</p><br>
          </mat-card-content>
         </mat-card>
        </div>
       </mat-card>
    </mat-card>
  </mat-card>
</div> -->
